<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Montserrat L&oacute;pez Cobo</title>
    <style>
        body {background-color: BlanchedAlmond;
            <!--background-color: PaleGoldenRod;-->
        }
        
        h1 {color: maroon;
            margin-left: 40px;
        }
        
        p.serie {background-color: powderblue;
            color: Tomato;
            text-align: center;
            font-size: 180%;
            <!-- border: .5px solid tomato; -->
            <!-- padding: 5px; -->
        }

</style>
</head>

<body>
    <h1>Montserrat L&oacute;pez Cobo</h1>
    <p style="text-align: right; font-size: 15pt; margin-right: 5%;"><i>All those moments will be lost in time, like tears in rain<i></p>
    <hr>
    <!-- Buscar mejor manera de definir el tamaño de las imágenes -->
    <p class="serie">Serie <i>Dualidades</i></p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/dualidades/El tren de la vida.jpg" alt="El tren de la vida" title="El tren de la vida" style="width: 100%"><cite>El tren de la vida</cite>, <abbr title="Montserrat López Cobo">Mon</abbr> (2011)</p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/dualidades/La receta del amor.jpg" alt="La receta del amor" title="La receta del amor" style="width: 100%"><cite>La receta del amor</cite>, <abbr title="Montserrat López Cobo">Mon</abbr> (2011)</p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/dualidades/Qué hay debajo.jpg" alt="Qué hay debajo" title="Qué hay debajo" style="width: 100%"><cite>Qué hay debajo?</cite>, <abbr title="Montserrat López Cobo">Mon</abbr> (2011)</p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 30%; margin-right: 30%; margin-bottom: 1.5em;"><img src="fotos/dualidades/Armonía y desorden.jpg" alt="Armonía y desorden" title="Armonía y desorden" style="width: 100%"><cite>Armonía y desorden</cite>, <abbr title="Montserrat López Cobo">Mon</abbr> (2011)</p>
    
    <p style="clear: both;">
    </p>


    <p class="serie">Serie <i>Color</i></p>
    <p style="float: left; font-size: 11pt; text-align: center; width: 38%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/color/Abstracción blanca.jpg" alt="Abstracción blanca" title="Abstracción blanca" style="width: 100%"><cite>Abstracción blanca</cite>, <abbr title="Montserrat López Cobo">Mon</abbr> (2011)</p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 38%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/color/Verdena.jpg" alt="Verdena" title="Verdena" style="width: 100%"><cite>Verdena</cite>, <abbr title="Montserrat López Cobo">Mon</abbr> (2011)</p>
    
    <p style="clear: both;">
    </p>

    
    <p class="serie">Serie <i>Papel</i></p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 23%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/papel/IMAGE_103.jpg" alt="boceto" style="width: 100%"></p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 23%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/papel/IMG_7269.JPG" alt="boceto" style="width: 100%"></p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 23%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/papel/IMG_7272.JPG" alt="boceto" style="width: 100%"></p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 23%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/papel/IMG_7280.JPG" alt="boceto" style="width: 100%"></p>
    
    <p style="clear: both;">
    </p>
    
    <p class="serie"><i>Bocetos</i></p>
    <p style="float: left; font-size: 11pt; text-align: center; width: 18%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/bocetos/2011_junio_1.psd" alt="boceto" style="width: 100%"></p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 18%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/bocetos/Boceto2.jpg" alt="boceto" style="width: 100%"></p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 18%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/bocetos/IMG_0101.JPG" alt="boceto" style="width: 100%"></p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 18%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/bocetos/2011_junio_3.psd" alt="boceto" style="width: 100%"></p>
    
    <p style="float: left; font-size: 11pt; text-align: center; width: 18%; margin-right: 1%; margin-bottom: 1.5em;"><img src="fotos/bocetos/IMG_7139b.jpg" alt="boceto" style="width: 100%"></p>

    <p style="clear: both;">
    </p>

</body>

</html>
